# Сравнение наивного и оптимизированного алгоритмов

In [35]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [36]:

%autoreload 2

import time
from collections import defaultdict
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import numpy as np
import pandas as pd
import typing
import tt

from bilinear_package.src import hadamard_product, random_tensor_generation, rounding, primitives

from bilinear_package.src.hadamard_product import approximateHadamardProduct

from experiments_stuff import get_tensor_for_experiment, default_dict_to_df, count_time

In [26]:
default_config = {
    "kernels" : 10,
    "modes" : 20,
    "initial_rank" : 8,
    "rounding_rank" : 8,
    "tries" : 1
}

In [29]:
count_time(default_config, ["rounding_rank", "tries"], list(zip(np.arange(5, 66, 4), np.ones(100, dtype = int) * 10)), approximateHadamardProduct, "experiments_results/experiment2/increasing_rounding_rank.txt")

,5,9,13,17,21,25,29,33,37,41,45,49,53,57,61,65
,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
0,0.027304,0.026755,0.033804,0.038375,0.050621,0.102314,0.129148,0.169675,0.349809,0.353067,0.397396,0.490620,0.503197,0.551076,0.627770,0.707079
1,0.019511,0.026382,0.032256,0.039049,0.052492,0.105658,0.128122,0.192736,0.317944,0.364321,0.402046,0.448116,0.498615,0.552449,0.731214,0.698278
2,0.020911,0.023577,0.031014,0.037677,0.052012,0.105627,0.131821,0.228200,0.368281,0.369930,0.425871,0.449888,0.543085,0.558586,0.613336,0.696163
3,0.019798,0.020670,0.029824,0.038508,0.054589,0.134368,0.129033,0.365654,0.473537,0.356868,0.381350,0.492016,0.496326,0.559630,0.647618,0.698279
4,0.017758,0.022968,0.029724,0.037919,0.053593,0.105387,0.129274,0.321072,0.324719,0.361002,0.419921,0.473665,0.501241,0.564684,0.601876,0.698097
5,0.018064,0.025745,0.028700,0.038890,0.051021,0.107122,0.128970,0.271193,0.469890,0.364595,0.393282,0.459496,0.497085,0.570342,0.625526,0.719473
6,0.017989,0.025500,0.028892,0.038341,0.085268,0.106305,0.130203,0.362873,0.402119,0.363966,0.396790,0.474395,0.502940,0.578828,0.633051,0.697508
7,0.017826,0.025203,0.028876,0.037690,0.083057,0.105839,0.128054,0.504086,0.428770,0.366958,0.394889,0.442393,0.494577,0.568688,0.630755,0.691613
8,0.018284,0.025184,0.029862,0.038567,0.082845,0.107625,0.128853,0.273761,0.318826,0.365452,0.547629,0.441652,0.505109,0.687406,0.648202,0.722948
9,0.018085,0.025455,0.029101,0.038013,0.082586,0.105885,0.128788,0.296653,0.341416,0.364739,0.403754,0.460380,0.505761,0.570056,0.629294,0.796461

In [37]:
def naiveHadamardProduct(tt_tensors1: typing.List[np.array], tt_tensors2: typing.List[np.array], desired_ranks: typing.List[int], seed: int):
    precise_product = tt.vector.to_list(tt.vector.from_list(tt_tensors1) * tt.vector.from_list(tt_tensors2))
    return rounding.randomizeThenOrthogonalize(precise_product, desired_ranks, seed)

In [39]:
count_time(default_config, ["rounding_rank", "tries"], list(zip(np.arange(5, 66, 4), np.ones(100, dtype = int) * 3)), naiveHadamardProduct, "experiments_results/experiment2/increasing_rounding_rank_precise.txt")

,5,9,13,17,21,25,29,33,37,41,45,49,53,57,61,65
,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
0,0.128392,0.214077,0.349119,0.584631,0.902321,1.350107,1.732502,2.483035,3.234884,3.624712,4.406781,5.174396,6.127712,8.181894,7.564900,7.812985
1,0.084835,0.201596,0.457411,0.655411,1.001847,1.443921,1.917234,2.622041,3.430672,3.648646,4.498467,4.887883,6.363784,7.009305,7.207891,7.634619
2,0.090803,0.212563,0.419185,0.619550,0.944423,1.337199,1.868750,2.493106,3.004832,3.711804,4.801415,4.950913,6.442444,6.700702,6.942616,7.669233

In [40]:
count_time(default_config, ["initial_rank", "rounding_rank", "tries"], list(zip(np.arange(5, 27, 3), np.arange(5, 27, 3), np.ones(100, dtype = int) * 10)), approximateHadamardProduct, "experiments_results/experiment2/increasing_initial_rank_approx.txt")

,5,8,11,14,17,20,23,26
,5,8,11,14,17,20,23,26
,10,10,10,10,10,10,10,10
0,0.005722,0.015211,0.060869,0.071076,0.147681,0.293576,0.686642,1.138396
1,0.004856,0.015398,0.062539,0.070734,0.148268,0.269356,0.711000,1.189171
2,0.004906,0.013826,0.047905,0.069717,0.147297,0.270201,0.709455,1.451511
3,0.004781,0.013537,0.033465,0.070444,0.147951,0.288136,0.711123,1.443542
4,0.004793,0.013574,0.031067,0.070165,0.156847,0.267925,0.709407,1.416861
5,0.004506,0.014815,0.030670,0.072963,0.169431,0.329526,0.714728,1.433704
6,0.004530,0.014391,0.030715,0.070137,0.152268,0.280591,0.716938,1.399087
7,0.004653,0.013937,0.030116,0.071261,0.156544,0.309690,0.731798,1.466863
8,0.004716,0.016158,0.032604,0.070857,0.149519,0.319075,0.742932,1.441185
9,0.004340,0.022614,0.032986,0.069933,0.174194,0.290566,0.744395,1.433856

In [41]:
count_time(default_config, ["initial_rank", "rounding_rank", "tries"], list(zip(np.arange(5, 27, 3), np.arange(5, 27, 3), np.ones(100, dtype = int) * 5)), naiveHadamardProduct, "experiments_results/experiment2/increasing_initial_rank_precise.txt")

,5,8,11,14,17,20,23,26
,5,8,11,14,17,20,23,26
,5,5,5,5,5,5,5,5
0,0.008142,0.052840,0.322548,1.212635,3.732151,11.387534,26.840679,55.760953
1,0.006983,0.051926,0.358340,1.409520,3.567254,11.119140,26.335283,56.651004
2,0.005961,0.055968,0.354422,1.378667,3.811950,11.568613,26.672141,79.800869
3,0.005589,0.048358,0.367662,1.331517,4.440392,11.373344,26.188178,80.718291
4,0.005600,0.047808,0.398172,1.423986,4.379897,11.491337,25.962940,84.840704